.header,
.footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header {
  top: 10px;
}

.header .back-btn {
  position: fixed;
  left: 10px;
}

.link-to-source {
  position: absolute;
  right: 10px;
}

.previewer {
  width: 100%;
  height: 90%;
  margin-top: 60px;
  margin-left: 20px;
}

.code-container {
  background: transparent;
  color: green;
  border: none;
  outline: none;
  resize: none;
}

.challenge-code-container {
  margin-top: 60px;
  max-width: 90%;
}

.compare-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90%;
  margin-top: 40px;
}

.compare-container .code-container {
  width: 50%;
}

.draggable {
  cursor: grab;
  user-select: none;
}

.draggable-item {
  cursor: default;
}

.footer {
  bottom: 10px;
  flex-direction: row-reverse;
}

.footer .forward-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.centered {
  margin-top: 50vh!important;
}
